<div class="search-container">
        <input type="text" placeholder="Pesquisar produtos...">
        <button>Pesquisar</button>
        <h6>Pesquisa : Anel</h6>
    </div>

    <div class="product-container">

        <div class="product-card">
            <img src="./assets/1.jpg" alt="Anel">
            <h3>Anel</h3>
            <button>Comprar</button>
        </div>
        <div class="product-card">
            <img src="./assets/2.jpg" alt="Colar">
            <h3>Colar</h3>
            <button>Comprar</button>
        </div>
        <div class="product-card">
            <img src="./assets/3.jpg" alt="Brinco">
            <h3>Brinco</h3>
            <button>Comprar</button>
        </div>
       
    </div>

