<h4>
    Esqueceu a senha ?</h4>
       <div class="container">
        <h2>Recuperar Senha</h2>
        <form action="/reset-password" method="post">
            <input type="email" name="email" placeholder="Digite seu e-mail" required>
            <button type="submit">Enviar</button>
        </form>
        <div class="back-to-login">
            <a href="/login">Voltar para o login</a>
            <div class="alert alert-success">
                <strong>Success!</strong>
              </div>
        </div>
    </div>